.app > header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  padding: 4.5rem 0 5rem;
}

.app main {
  display: flex;
  flex-direction: column;
  max-width: 46rem;
  padding: 0 1rem; 
  margin: auto;
}

.inputBox {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 0.5rem;
  margin-top: -1.68rem;
}

.inputBox input {
  flex: 1;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 1rem;
  line-height: 1.4;
  transition: box-shadow 0.1s;
  min-width: 0;
}

.inputBox input:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purpleDark);
}

.inputBox button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--blueDark);
  border: 0;
  color: var(--gray-100);
  padding: 1rem;
  border-radius: 8px;
  font-weight: 700;

  transition: background 0.1s;
}

.inputBox button:hover {
  background: var(--blue);
  cursor: pointer;
}