.app > header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  padding: 4.5rem 0 5rem;
}

.app main {
  display: flex;
  flex-direction: column;
  max-width: 46rem;
  padding: 0 1rem; 
  margin: auto;
}
